*{
    font-size: 15px
}

body{
    background-color: #D6E2F0;  
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;
}

.container{
    background-color: #FFFFFF;
    width: 25%;
    border-radius: 5%;
    padding: 1rem;
}

.container img{
    width: 100%;
    border-radius: 5%;    
}